doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport' content='width=device-width')
    title=APPNAME.toUpperCase()
    link(rel='icon', href=ICON)
    link(rel='stylesheet', href='css/main.css', type='text/css')
    script.
      this.log = console.log.bind(console);
      document.addEventListener('DOMContentLoaded', e => app.init(window, app));
  body
    header: h1=APPNAME
    .page
      aside#query
        each term in TERMS
          .dropbox
            h3(class="i-"+term.name)=term.name
            nav
              each x in term.value.sort()
                .btn-option
                  -let id = "o-"+x
                  input.opt-toggle(type="checkbox", id=id, name=term.name, value=x)
                  label.opt-title(for=id)=x
      main.fx-col
        #navbar
          .btn-group
            button.btn.i-prev(name="prev")
            label.btn.current 0
            button.btn.i-next(name="next")

          label(for="limit") limit
          input(name="limit", type="number", min=0, step=10, value=LIMIT)


        #list
    footer
    #character.fx-row
    script(src="src/main.js")

