doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport' content='width=device-width')
    meta(name='appname' content=APPNAME)
    title=APPNAME.toUpperCase()
    link(rel='stylesheet', href='css/main.css', type='text/css')
    script.
      (root => {
        root.log = console.log.bind(console);
        document.addEventListener('DOMContentLoaded', e => {
          let name = document.head.children.appname.content
          let app = root[name]
          app.init(root, app)
          log('init', name)
        });
      })(this)


    script(src="src/main.js")

  body
    header
      h1=APPNAME
    .page
      aside#form
        each term in terms
          label=term.name
          select(name=term.name, multiple)
            each x in term.value
              option(value=x)=x
      main#list

    footer
    #view
